@font-face {
  font-family: 'Quicksand';
  src: url('./assets/Quicksand-VariableFont:wght.ttf') format('opentype');
}

body {
  font-family: 'Quicksand';
}

.fr {
  color: #2c3e50;

  &--button {
    border: 3px solid palegreen;

    &:hover,
    &:focus {
      background-color: burlywood;
    }

    &__expedite {
      border: 3px solid peachpuff;
    }

    &__advance {
      border: 3px solid skyblue;
    }

    &__postpone {
      border: 3px solid brown;
    }

    &__postpone,
    &__advance,
    &__expedite {
      &:hover,
      &:focus {
        background-color: burlywood;
      }
    }
  }

  &--form {
    background-color: #2c3e50;
    border: 3px solid palevioletred;
  }

  &--input-box {
    border: 3px solid palegoldenrod;
  }

  &--grid-container {
    display: grid;
    grid-template-columns: 2rem auto 2rem;
    grid-template-rows: 25% auto;
  }

  &--content-column {
    background-color: paleturquoise;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  &--heading {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
}
